/* styles.css */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game {
  --gb-padding: 30px;
  --block-size: 75px;
  display: flex;
}

.buttons {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
}
.buttons > button {
  font-weight: 600;
  font-size: larger;
  margin: 10px;
  height: 3rem;
  width: 11ch;
  border-radius: 10px;
  border: 3px solid #3499e6;
  background-color: #9dd2fa;
  color: #2274bb;
}
.buttons > button:hover {
  background-color: #7abaf1;
}

.yourShips {
  display: grid;
  border: 1px solid black;
  grid-template-columns: repeat(4, 75px);
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, var(--block-size));
  grid-template-rows: repeat(10, var(--block-size));
  border: 1px solid black;
  width: fit-content;
  background-image: url("./images/dark_water.jpg");
  padding: var(--gb-padding);
  position: relative;
}
.board-square {
  border-bottom: 1px dashed black;
  border-right: 1px dashed black;
}
.gameboard > .board-square:nth-last-child(-n + 10) {
  border-bottom: none;
}
.gameboard > .board-square:nth-child(10n) {
  border-right: none;
}

.ship {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.smallship {
  width: calc(var(--block-size));
  height: calc(2 * var(--block-size));
}

div.mediumship {
  width: calc(var(--block-size));
  height: calc(3 * var(--block-size));
}

div.largeship {
  width: calc(2 * var(--block-size));
  height: calc(5 * var(--block-size));
}
